@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 5px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Playfair Display', serif;
}

.title {
	font-size: calc(0.9rem + 1.1vw);
}
.subtitle {
	font-size: calc(0.7rem + 0.5vw);
}
body {
	font-size: calc(0.7rem + 0.5vw);
}
p {
	font-size: calc(0.45rem + 0.65vw);
}

.section {
	padding: 0;
	margin: 0;
}
table {
	/* font-family: arial, sans-serif; */
	border-collapse: collapse;
	width: 100%;
}
td,
th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 10px;
}
tr:nth-child(even) {
	background-color: #dddddd;
}
#contact-information {
	padding-right: 0em;
}
#home {
	display: none;
	background-color: rgb(255, 255, 255);
	margin: 0;
	padding-bottom: 2vw;
	padding-left: 0vw;
	padding-right: 0vw;
	padding-top: 0vw;
}
#experience {
	display: none;
	background-color: rgb(255, 255, 255);
	margin: 0;
	padding-bottom: 3vw;
}
#contact {
	display: none;
	background-color: rgb(255, 255, 255);
	margin: 0;
	padding-bottom: 5vw;
}
#profile-picture {
	min-width: 10vw;
	max-width: 60vw;
	max-height: 100vw;
	/* min-height: 90em; */
	border-radius: 0.5em;
	padding: 0;
	border: 10px solid rgb(54, 54, 54);
}
#profile-picture-column .image {
	border-radius: 0.5em;
	background-color: rgb(54, 54, 54);
}
#profile-picture-column {
	align-content: right;
	align-items: right;
	/* padding-left: 2em;
			padding-bottom: 2em; */
}
#body-title {
	/* width: 75%; */
	margin: auto;
	padding-top: 4vw;
	padding-left: calc(0.05rem + 10vw);
	padding-right: calc(0.05rem + 10vw);
}
#body-title p {
	font-size: 3vw;
}
.body-information {
	/* margin-left: 10em; */
	/* margin-right: 10em; */
	/* margin-bottom: 1.5em; */
	/* margin-top: 1.5em; */
	padding: 3vw;
	border-radius: 1em;
	/* box-shadow: 2px 2px 2px rgb(70, 70, 70); */
	background-color: rgb(73, 127, 81);
	color: rgb(255, 255, 255);
}
.body-form {
	padding-bottom: calc(1vw + 2em);
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 1vw;
	border-radius: 1em;
	color: rgb(255, 255, 255);
	background-color: rgb(73, 127, 81);
}
.form-control {
	background-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
}
.body-information ul li {
	padding-left: 1.5vw;
	padding-bottom: 0.5vw;
}
#body-contact-information {
	background-color: #ffffff;
	color: rgb(255, 255, 255);
	padding-top: 3vw;
	padding-bottom: calc(5em + 3vw);
	padding-right: 0em;
	padding-left: 0em;
	text-align: right;
}
.container {
	/* width: 75%; */
	margin: auto;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: calc(0.05rem + 10vw);
	padding-right: calc(0.05rem + 10vw);
}
#body-contact-information strong {
	padding: 0;
}
#home-tab,
#experience-tab,
#contact-tab {
	padding-left: calc(1rem + 1vw);
	padding-right: calc(1rem + 1vw);
	padding-top: calc(0.5rem + 0.5vw);
	padding-bottom: calc(0.5rem + 0.5vw);
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	margin: 0;
	/* width: 33%; */
	/* height: 100%; */
}
#banner-title {
	padding-right: 2vw;
	padding-left: 2vw;
	padding-top: 0;
	padding-bottom: 0;
}
/* #banner-title .level-left .title {
} */
#banner-title .is-child {
	text-align: center;
	color: rgb(0, 0, 0);
}
#banner-title .columns {
    align-items: center;
}
#banner .tab {
	margin-top: 0;
}
#gray-section {
	margin: 0;
}
#white-section {
	margin: 0;
}
#contact-section {
	/* width: 75%; */
	margin: auto;
	padding-left: calc(0.05rem + 10vw);
	padding-top: 0;
	padding-right: calc(0.05rem + 10vw);
	padding-bottom: 1.5vw;
	margin-top: 1.5vw;
}
#contact-section .columns {
	padding: 0;
}
.tab {
	/* overflow: hidden; */
	/* border: 1px solid #ccc; */
	background-color: rgb(255, 255, 255);
	/* margin-top: 1vw; */
	color: rgb(0, 0, 0);
}
#banner {
	background-color: rgb(255, 255, 255);
}
.tab .tablinks {
	/* background-color: inherit;
	float: center;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px; */
}
/* .tab .tablinks.default:hover {
	background-color: rgb(243, 242, 239);
	color: rgb(202, 174, 62);  
}
.tab .tablinks.default.active {
	background-color: rgb(243, 242, 239);
	color: rgb(202, 174, 62); 
} */
.tab .tablinks.default:hover p {
	color: rgb(73, 127, 81);
}
.tab .tablinks.default.active p {
	color: rgb(73, 127, 81);
}
/* a #darkmode-button.default {
	color: rgb(214, 184, 65);
}
a #darkmode-button.default:hover {
	color: rgb(161, 139, 49);
}
a #darkmode-button.darkmode {
	color: rgb(55, 106, 173);
}
a #darkmode-button.darkmode:hover {
	color: rgb(88, 155, 243);
} */
a.project-link.default {
	color: rgb(73, 127, 81);
}
a.project-link.default:hover {
	color: rgb(55, 95, 61);
}
/* a.project-link.darkmode {
	color: rgb(55, 106, 173);
}
a.project-link.darkmode:hover {
	color: rgb(88, 155, 243);
} */
.level .level-right {
	padding: 0;
	float: right;
	color:#ffffff;
}
.hero {
	padding: 0;
	/* position: sticky; */
	top: 0;
	z-index: 10;
}
/* div.hero.active .level-right{
			margin:0em;
		} */
.shop-item,
.shop-item-details {
	padding: 0;
	margin: 0;
}
.shop-item .image {
	background-color: rgb(54, 54, 54);
	border-radius: 0.5em;
}
.shop-item-image {
	border: 10px solid rgb(54, 54, 54);
	padding: 0;
	margin: 0;
	border-radius: 0.5em;
}
.shop-item-title {
	padding-top: 1vw;
	text-align: center;
}

#myImg:hover {
	opacity: 0.8;
}
.modal {
	display: none;
	position: auto;
	z-index: 1;
	padding-top: 70px;
	padding-bottom: 50px;
	margin: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
	margin: auto;
	display: auto;
	max-height: 100%;
	width: auto;
}
#modal-caption {
	margin: auto;
	display: block;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}
.modal-close-img {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
.modal-close-img:hover,
.modal-close-img:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
.tile {
	padding: 0em;
}
.fa {
	font-size: 40px;
}
form {
	margin: 2vw;
}
.header {
	margin-top: 2vw;
	text-align: center;
}
#plan-body {
	text-align: center;
}

#background-home {
	height: 27vw;
	padding: 0em;
	margin: 0em;
}

.btn {
	padding: 3vw;
}
#buttom-default {
	background-color: rgb(255, 255, 255);
	color: rgb(73, 127, 81);
	outline: 0.3vw solid rgb(73, 127, 81);
}
#buttom-default:hover {
	background-color: #ffffff;
	color: rgb(55, 95, 61);
	outline: 0.3vw solid rgb(55, 95, 61);
}
#get-started-section {
	margin: auto 7vw auto 17vw;
}
#get-started-image {
	margin: 2vw 20vw 2vw 0vw;
	/* margin: auto 12vw auto 8vw; */
	padding: 0em;
}
#about-me-image {
	margin: 2vw 0vw 2vw 15vw;
	/* margin: auto 12vw auto 8vw; */
	padding: 0em;
}
#about-me-section{
	margin: auto 8vw auto 0vw;
}

.profile-image {
	padding: 0;
}
#button-home-details {
	text-align: center;
}
.bio-home {
	background-color: #9d7a57;
}
#bio-home-details {
	text-align: center;
	padding-top: 3vw;
	padding-bottom: 3vw;
	padding-left: 10%;
	padding-right: 10%;
	color: #ffffff;
	background-color: rgb(73, 127, 81);
}
/* #bio-home-details .title{
	color: #ffffff;
} */
#bio-home-details .subtitle{
	color: #ffffff;
}
.buttons-home {
	padding: 3vw;
}
#contact-button {
	text-align: right;
}
#dateHelp, #emailHelp {
	color: rgb(255, 255, 255);
}
#line {
    background-color: rgb(255, 255, 255);
    /* border-bottom: 1px solid #aeaeae; */
	margin-bottom:0.5vw; border-bottom: 1px solid #aeaeae;
	box-shadow: 0px 3px 5px -1px rgb(184, 184, 184); 
	margin-top: 0.2vw;
}
 .drawer-container {
      background-color: rgb(73, 127, 81);
      /* padding: 20px; */
      /* border-radius: 10px; */
      /* box-shadow: 0 4px 12px rgba(0,0,0,0.3); */
      width: 300px;
      display: flex;
      flex-direction: column;
      /* gap: 15px; */
    }

    .drawer-button {
      background-color: rgb(73, 127, 81);
      color: #fff;
      border: none;
      padding: 15px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .drawer-button:hover {
      background-color: rgb(55, 95, 61);
    }

